# Step 1:

# I first created a django project and inside that 
# create an app named main and write views for login , signup and logout functions.

# Step 2:

# configure templates dir and designed index.html add signup and login modal
# write a js so that only logged in users can able to see the list of stocks and 
# non logged in users recieves an alert to login after every 3 mins

# Step 3:

# created models for lists of stocks and query in main app

# Step 4:

# Use ajax for pulling stocks in index.html and add js function for loadmore btn

# Step 5:

# create a form for the search in navbar , add a view and url for the same

# Step 6:

# add file field in stocklist model for uploading video
# create a stock detail page , view and url for viewing a particular stock

# Step 7:

# made it reponsive for phone

